* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.login {
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
}

.login label {
  display: block;
  margin-bottom: 5px;
}

.login input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    background-color: #2a3942;
}

.login button[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #075e54;
  color: #fff;
  cursor: pointer;
}

.spinner-container {
  display: flex;
  justify-content: center;
}